/* Hero-section */
.hero-section {
    background-image: url(../images/backgrounds/themain.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    background-size: 100%;
    height: 200px;
}

.features-section {
    

}

.features-section h1 {
    text-align: center;
    font-size: 2em;
}

/* product-list */
.product {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    background-color: #11122b;
}
.product-list {
    text-align: center;
    margin-left: 75px;
    margin-right: auto;
    float: left;
    width: 18%;
}

.icons-wrapper {
    display: flex;
    background-color: #cea135;
    text-align: center;
    align-content: space-between;
    margin-bottom: -13px;
    padding: 20px 50px;
    font-size: 2em;
}
.icons {
    width: 50%;

}

.footer {
    display: grid;
    color: #cbcbcb;
    background-color: #11122b;
    padding: 10px 50px;
    height: 300px;
}

.footer h1 {
    display: flex;
    color: #cea135;
    text-align: center;
    padding: 10px 400px;
}

.footer > .navbar {
    
}

.social-media-icons {

}

.social-media-icon {
    display: flex;
    align-items: center;
}